Repository correawagner/supabase, changes with the labels that .github/labeler.yml gives for each.
All labels: teams/cli, team/docs, teams/frontend, teams/website

.github/labeler.yml:

teams/cli:
- changed-files:
  - any-glob-to-any-file: 'docker/**/*'

team/docs:
- changed-files:
  - any-glob-to-any-file: 'app/docs/**/*'

teams/frontend:
- changed-files:
  - any-glob-to-any-file: 'apps/studio/**/*'

teams/website:
- changed-files:
  - any-glob-to-any-file: 'apps/www/**/*'

new layout
  apps/studio/components/interfaces/Database/Replication/NewDestinationPanel.tsx
Labels: teams/frontend

reduce panel size
  apps/studio/components/interfaces/Database/Replication/NewDestinationPanel.tsx
Labels: teams/frontend

add form validation
  apps/studio/components/interfaces/Database/Replication/NewDestinationPanel.tsx
Labels: teams/frontend

treat max size and max fill secs as numbers
  apps/studio/components/interfaces/Database/Replication/NewDestinationPanel.tsx
Labels: teams/frontend

update api types
  packages/api-types/types/api.d.ts
Labels: none

update platform.d.ts
  packages/api-types/types/platform.d.ts
Labels: none

remove a redirect from replication page to publications page
  apps/studio/next.config.js
Labels: teams/frontend

ask user for confirmation before deleting destination
  apps/studio/components/interfaces/Database/Replication/DeleteDestination.tsx
  apps/studio/components/interfaces/Database/Replication/DestinationRow.tsx
Labels: teams/frontend

update navigation bar utils
  apps/studio/components/layouts/ProjectLayout/NavigationBar/NavigationBar.utils.tsx
Labels: teams/frontend

remove old code
  apps/studio/components/interfaces/Replication/CreatePipelineModal.tsx
  apps/studio/components/interfaces/Replication/CreatePublicationModal.tsx
  apps/studio/components/interfaces/Replication/CreateSinkModal.tsx
  apps/studio/components/interfaces/Replication/DeletePipepineModal.tsx
  apps/studio/components/interfaces/Replication/DeletePublicationModal.tsx
  apps/studio/components/interfaces/Replication/DeleteSinkModal.tsx
  apps/studio/components/interfaces/Replication/PipelineActionButton.tsx
  apps/studio/components/interfaces/Replication/Pipelines.tsx
  apps/studio/components/interfaces/Replication/Publications.tsx
  apps/studio/components/interfaces/Replication/Sinks.tsx
  apps/studio/components/layouts/ProjectLayout/NavigationBar/NavigationBar.utils.tsx
  apps/studio/components/layouts/ReplicationLayout/ReplicationLayout.tsx
  apps/studio/components/layouts/ReplicationLayout/ReplicationMenu.utils.ts
  apps/studio/pages/project/[ref]/replication/index.tsx
  apps/studio/pages/project/[ref]/replication/pipelines.tsx
  apps/studio/pages/project/[ref]/replication/publications.tsx
  apps/studio/pages/project/[ref]/replication/sinks.tsx
Labels: teams/frontend

edit destination panel values fixed
  apps/studio/components/interfaces/Database/Replication/DestinationPanel.tsx
Labels: teams/frontend

enable/disable pipeline after editing
  apps/studio/components/interfaces/Database/Replication/DestinationPanel.tsx
Labels: teams/frontend

bug fixes
  apps/studio/components/interfaces/Database/Replication/DestinationPanel.tsx
  apps/studio/components/interfaces/Database/Replication/DestinationRow.tsx
Labels: teams/frontend

edit destination panel
  apps/studio/components/interfaces/Database/Replication/DestinationPanel.tsx
  apps/studio/components/interfaces/Database/Replication/DestinationRow.tsx
  apps/studio/components/interfaces/Database/Replication/Destinations.tsx
  apps/studio/components/interfaces/Database/Replication/RowMenu.tsx
  apps/studio/data/replication/keys.ts
  apps/studio/data/replication/pipeline-by-id-query.ts
  apps/studio/data/replication/sink-by-id-query.ts
  apps/studio/data/replication/update-pipeline-mutation.ts
  apps/studio/data/replication/update-sink-mutation.ts
  packages/api-types/types/platform.d.ts
Labels: teams/frontend

loading button when editing
  apps/studio/components/interfaces/Database/Replication/DestinationPanel.tsx
Labels: teams/frontend

fix prettier formatting
  apps/studio/data/replication/sink-by-id-query.ts
Labels: teams/frontend

rename snake_case params to camelCase
  apps/studio/components/interfaces/Database/Replication/DestinationPanel.tsx
  apps/studio/data/replication/create-sink-mutation.ts
Labels: teams/frontend

remove merge markers
  packages/api-types/types/api.d.ts
Labels: none

update api types
  packages/api-types/types/api.d.ts
  packages/api-types/types/platform.d.ts
Labels: none

add max_staleness parameter in sinks for bigquery
  apps/studio/components/interfaces/Database/Replication/DestinationPanel.tsx
  apps/studio/data/replication/create-sink-mutation.ts
  apps/studio/data/replication/update-sink-mutation.ts
  packages/api-types/types/platform.d.ts
Labels: teams/frontend

refactor: remove MdxProvider
  apps/docs/app/contributing/page.tsx
  apps/docs/features/docs/GuidesMdx.client.tsx
  apps/docs/features/docs/GuidesMdx.template.tsx
  apps/docs/features/docs/Reference.mdx.client.tsx
  apps/docs/features/docs/Reference.sections.tsx
Labels: none

Update docker-compose.yml
  docker/docker-compose.yml
Labels: teams/cli

Update docker-compose.yml
  docker/docker-compose.yml
Labels: teams/cli

Switched to mailpit
  docker/docker-compose.yml
  docker/volumes/mail/.gitkeep
Labels: teams/cli

Update docker-compose.yml
  docker/docker-compose.yml
Labels: teams/cli

Update docker-compose.yml
  docker/docker-compose.yml
Labels: teams/cli

Update docker-compose.yml
  docker/docker-compose.yml
Labels: teams/cli

Update docker-compose.yml
  docker/docker-compose.yml
Labels: teams/cli

Added smtp certs
  docker/.gitignore
  docker/docker-compose.yml
  docker/generate-cert.sh
Labels: teams/cli

Update generate-cert.sh
  docker/generate-cert.sh
Labels: teams/cli

Delete generate-cert.sh
  docker/generate-cert.sh
Labels: teams/cli

Hopefully this works ffs
  docker/.gitignore
  docker/docker-compose.yml
  docker/generate-cert.sh
Labels: teams/cli

Update docker-compose.yml
  docker/docker-compose.yml
Labels: teams/cli

Update docker-compose.yml
  docker/docker-compose.yml
Labels: teams/cli

Update docker-compose.yml
  docker/docker-compose.yml
Labels: teams/cli

Update docker-compose.yml
  docker/docker-compose.yml
Labels: teams/cli

Update docker-compose.yml
  docker/docker-compose.yml
Labels: teams/cli

Update docker-compose.yml
  docker/docker-compose.yml
Labels: teams/cli

Cert permissions
  docker/Dockerfile.gotrue
  docker/docker-compose.yml
Labels: teams/cli

Update docker-compose.yml
  docker/docker-compose.yml
Labels: teams/cli
