Repository correawagner/supabase, changes with the labels that .github/labeler.yml gives for each.
All labels: teams/cli, team/docs, teams/frontend, teams/website

Fixed issue #18228
  docker/docker-compose.yml
Labels: teams/cli

show empty replication state at /replication
  apps/studio/components/interfaces/Replication/Sources.tsx
  apps/studio/components/layouts/ProjectLayout/NavigationBar/NavigationBar.utils.tsx
  apps/studio/components/layouts/ReplicationLayout/ReplicationLayout.tsx
  apps/studio/pages/project/[ref]/replication/index.tsx
Labels: teams/frontend

add dummy sinks and pipelines pages
  apps/studio/components/interfaces/Replication/Pipelines.tsx
  apps/studio/components/interfaces/Replication/Sinks.tsx
  apps/studio/components/layouts/ProjectLayout/NavigationBar/NavigationBar.utils.tsx
  apps/studio/components/layouts/ReplicationLayout/ReplicationLayout.tsx
  apps/studio/components/layouts/ReplicationLayout/ReplicationMenu.utils.ts
  apps/studio/pages/project/[ref]/replication/pipelines.tsx
  apps/studio/pages/project/[ref]/replication/sinks.tsx
Labels: teams/frontend

update api types
  packages/api-types/types/api.d.ts
Labels: none

show empty sources state
  apps/studio/components/interfaces/Replication/Sources.tsx
  apps/studio/components/layouts/ReplicationLayout/ReplicationMenu.utils.ts
  apps/studio/data/replication/keys.ts
  apps/studio/data/replication/sources-query.ts
  apps/studio/pages/project/[ref]/replication/sources.tsx
Labels: teams/frontend

create source when enable replication button is clicked
  apps/studio/components/interfaces/Replication/Pipelines.tsx
  apps/studio/components/interfaces/Replication/Sinks.tsx
  apps/studio/components/interfaces/Replication/Sources.tsx
  apps/studio/components/layouts/ReplicationLayout/ReplicationLayout.tsx
  apps/studio/data/replication/create-source-mutation.ts
  apps/studio/data/replication/sources-query.ts
  apps/studio/pages/project/[ref]/replication/index.tsx
  packages/api-types/types/api.d.ts
Labels: teams/frontend

fix start/stop status shown on ui
  apps/studio/components/interfaces/Replication/Pipelines.tsx
  apps/studio/data/replication/pipeline-status-query.ts
Labels: teams/frontend

only consider replication enabled when a source with name = ref is present
  apps/studio/pages/project/[ref]/replication/index.tsx
Labels: teams/frontend

add ui to delete a sink
  apps/studio/components/interfaces/Replication/DeleteSinkModal.tsx
  apps/studio/components/interfaces/Replication/Sinks.tsx
  apps/studio/data/replication/delete-sink-mutation.ts
  packages/api-types/types/api.d.ts
Labels: teams/frontend

show correct label on action buttons
  apps/studio/components/interfaces/Replication/Pipelines.tsx
  apps/studio/data/replication/pipeline-status-query.ts
  packages/api-types/types/api.d.ts
Labels: teams/frontend

publications table
  apps/studio/components/interfaces/Replication/Publications.tsx
Labels: teams/frontend

create publication wip
  apps/studio/components/interfaces/Replication/CreatePublicationModal.tsx
  apps/studio/components/interfaces/Replication/Publications.tsx
  apps/studio/data/replication/create-publication-mutation.ts
  apps/studio/data/replication/create-source-mutation.ts
  apps/studio/data/replication/keys.ts
  apps/studio/data/replication/tables-query.ts
  packages/api-types/types/api.d.ts
Labels: teams/frontend

show source/sink names on pipelines page
  apps/studio/components/interfaces/Replication/CreatePipelineModal.tsx
  apps/studio/components/interfaces/Replication/Pipelines.tsx
  apps/studio/components/interfaces/Replication/Publications.tsx
  packages/api-types/types/api.d.ts
Labels: teams/frontend

hide 'supabase_realtime' publication on ui
  apps/studio/components/interfaces/Replication/Publications.tsx
Labels: teams/frontend

improve replication page when replication is enabled
  apps/studio/components/layouts/ReplicationLayout/ReplicationLayout.tsx
  apps/studio/components/layouts/ReplicationLayout/ReplicationMenu.utils.ts
  apps/studio/pages/project/[ref]/replication/index.tsx
Labels: teams/frontend

show sink name in ui
  apps/studio/components/interfaces/Replication/CreateSinkModal.tsx
  apps/studio/components/interfaces/Replication/Sinks.tsx
Labels: teams/frontend

remove a couple of console.logs
  apps/studio/components/interfaces/Replication/CreatePipelineModal.tsx
  apps/studio/components/interfaces/Replication/CreateSinkModal.tsx
Labels: teams/frontend

create and list sinks
  apps/studio/components/interfaces/Replication/CreateSinkModal.tsx
  apps/studio/components/interfaces/Replication/Sinks.tsx
  apps/studio/data/replication/create-sink-mutation.ts
  packages/api-types/types/api.d.ts
Labels: teams/frontend

correct colspan for 'no pipelines' row
  apps/studio/components/interfaces/Replication/Pipelines.tsx
Labels: teams/frontend

show pipeline status wip
  apps/studio/components/interfaces/Replication/Pipelines.tsx
  apps/studio/data/replication/pipeline-status-query.ts
Labels: teams/frontend

show publications in table
  apps/studio/components/interfaces/Replication/Publications.tsx
  apps/studio/data/replication/keys.ts
  apps/studio/data/replication/publications-query.ts
  packages/api-types/types/api.d.ts
Labels: teams/frontend

move filtering to fetch query
  apps/studio/components/interfaces/Replication/Publications.tsx
  apps/studio/data/replication/publications-query.ts
Labels: teams/frontend

add source and sink names
  apps/studio/data/replication/create-sink-mutation.ts
  packages/api-types/types/api.d.ts
Labels: teams/frontend

replace sources page with publications page
  apps/studio/components/interfaces/Replication/Publications.tsx
  apps/studio/components/interfaces/Replication/Sources.tsx
  apps/studio/components/layouts/ReplicationLayout/ReplicationMenu.utils.ts
  apps/studio/pages/project/[ref]/replication/index.tsx
  apps/studio/pages/project/[ref]/replication/publications.tsx
  apps/studio/pages/project/[ref]/replication/sources.tsx
Labels: teams/frontend

add ui to create and delete pipelines
  apps/studio/components/interfaces/Replication/CreatePipelineModal.tsx
  apps/studio/components/interfaces/Replication/DeletePipepineModal.tsx
  apps/studio/components/interfaces/Replication/Pipelines.tsx
  apps/studio/data/replication/create-pipeline-mutation.ts
  apps/studio/data/replication/delete-pipeline-mutation.ts
Labels: teams/frontend

start and stop pipelines
  apps/studio/components/interfaces/Replication/Pipelines.tsx
  apps/studio/data/replication/start-pipeline-mutation.ts
  apps/studio/data/replication/stop-pipeline-mutation.ts
  packages/api-types/types/api.d.ts
Labels: teams/frontend

show empty sinks page
  apps/studio/components/interfaces/Replication/Publications.tsx
  apps/studio/components/interfaces/Replication/Sinks.tsx
  apps/studio/data/replication/keys.ts
  apps/studio/data/replication/sinks-query.ts
  packages/api-types/types/api.d.ts
Labels: teams/frontend

fix error when deleting a pipeline
  apps/studio/data/replication/delete-pipeline-mutation.ts
Labels: teams/frontend

get pipeline status wip
  apps/studio/components/interfaces/Replication/Pipelines.tsx
  apps/studio/data/replication/keys.ts
  apps/studio/data/replication/pipeline-status-query.ts
  packages/api-types/types/api.d.ts
Labels: teams/frontend

user can now delete a publication
  apps/studio/components/interfaces/Replication/DeletePublicationModal.tsx
  apps/studio/components/interfaces/Replication/Publications.tsx
  apps/studio/data/replication/delete-publication-mutation.ts
  packages/api-types/types/api.d.ts
Labels: teams/frontend

show toast error instead of throwing an exception
  apps/studio/components/interfaces/Replication/Publications.tsx
Labels: teams/frontend

show pipelines on the pipelines page
  apps/studio/components/interfaces/Replication/Pipelines.tsx
  apps/studio/data/replication/keys.ts
  apps/studio/data/replication/pipelines-query.ts
  packages/api-types/types/api.d.ts
Labels: teams/frontend

update api types
  packages/api-types/types/api.d.ts
Labels: none

fixed publications page crash
  apps/studio/components/interfaces/Replication/Publications.tsx
  apps/studio/data/replication/keys.ts
  apps/studio/data/replication/publications-query.ts
Labels: teams/frontend

fix a crashing page
  apps/studio/pages/project/[ref]/replication/index.tsx
Labels: teams/frontend

extract pipeline action button as a separate component
  apps/studio/components/interfaces/Replication/PipelineActionButton.tsx
  apps/studio/components/interfaces/Replication/Pipelines.tsx
  apps/studio/data/replication/pipeline-status-query.ts
  apps/studio/data/replication/start-pipeline-mutation.ts
  apps/studio/data/replication/stop-pipeline-mutation.ts
Labels: teams/frontend

fix prettier formatting
  apps/studio/components/layouts/ProjectLayout/NavigationBar/NavigationBar.utils.tsx
Labels: teams/frontend

update to match with changes in api
  apps/studio/components/interfaces/Replication/CreatePipelineModal.tsx
  apps/studio/components/interfaces/Replication/Pipelines.tsx
  apps/studio/components/interfaces/Replication/Publications.tsx
  apps/studio/components/interfaces/Replication/Sinks.tsx
  apps/studio/data/replication/publications-query.ts
  apps/studio/pages/project/[ref]/replication/index.tsx
  packages/api-types/types/api.d.ts
Labels: teams/frontend

move pipeline fetch query to parent component
  apps/studio/components/interfaces/Database/Replication/DestinationRow.tsx
  apps/studio/components/interfaces/Database/Replication/PipelineStatus.tsx
  apps/studio/components/interfaces/Database/Replication/RowMenu.tsx
  apps/studio/data/replication/keys.ts
  apps/studio/data/replication/pipeline-status-query.ts
Labels: teams/frontend

create destination
  apps/studio/components/interfaces/Database/Replication/NewDestinationPanel.tsx
Labels: teams/frontend

.github/labeler.yml:

teams/cli:
- changed-files:
  - any-glob-to-any-file: 'docker/**/*'

team/docs:
- changed-files:
  - any-glob-to-any-file: 'app/docs/**/*'

teams/frontend:
- changed-files:
  - any-glob-to-any-file: 'apps/studio/**/*'

teams/website:
- changed-files:
  - any-glob-to-any-file: 'apps/www/**/*'
